.point {
  fill: #3366cc;
}

.pointlabel {
	dominant-baseline: middle;
	font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axislabel {
	text-anchor: middle;
	font-size: 16px;
}

.tick {
	font-size: 10px;
}

.link {
	stroke-width: 1px;
    stroke: orangered;
    opacity: 0.6;
}

.pointlabel.unselected {
	opacity: 0.4;
}
.point.unselected {
	opacity: 0.6;
}
.link.unselected {
	opacity: 0.3;
}