.point {
  fill: #3366cc;
}

.pointlabel {
	dominant-baseline: middle;
	font-size: 14px;
	cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axislabel {
	text-anchor: middle;
	font-size: 16px;
}

.tick {
	font-size: 10px;
}

.link {
	stroke-width: 1px;
    stroke: orangered;
    opacity: 0.6;
}

.pointlabel.unselected {
	opacity: 0.4;
}
.point.unselected {
	opacity: 0.6;
}
.link.unselected {
	opacity: 0.3;
}

div {
  padding: 6px;
}

body {
	font-family: Helvetica, Sans-serif;
}

select {
  width: 200px !important;
}

select.custom {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  width: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.button-custom {
  margin-top:4px;
  margin-bottom: 15px;
}

.form-inline {
  padding: 0;
}
